.col {
  float: left;
  width: 100%;
  padding-left: $GRID-GUTTER;
  padding-right: $GRID-GUTTER;

  @for $grid-number from 1 to $GRIDS {
    @each $class-name in $GRID-CLASSNAMES {
      $calculatedValue: (($grid-number / $GRIDS) * $GRID-MAX-SIZE)#{'%'};

      &.#{$class-name}-#{$grid-number} {
        width: $calculatedValue;
      }

      &.#{$class-name}-offset-#{$grid-number} {
        margin-left: $calculatedValue;
      }

      @include respondTo($class-name) {
        &.#{$class-name}-#{$grid-number} {
          width: $calculatedValue;
        }

        &.#{$class-name}-offset-#{$grid-number} {
          margin-left: $calculatedValue;
        }
      }
    }
  }
}
